.section5 {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(../img/gmap.jpg);
    background-repeat: no-repeat; 
    background-size:100%  50%;
    background-position: center bottom; 
    @media screen and (max-width: 800px) {
        width:100%;
        margin:  auto;
        background-position: bottom;
        
    }

 

    #girlpic {
        position:absolute;
        border-radius: 60px;
        height: 60px;
        width: 60px;
        top:26%;
        left:50%;
        transform: translateY(-50% -50%);
        z-index: 1;
        @media screen and (max-width: 800px) {
            top:20px;
            left:40%;
            
           
           

        }
    }
    
    .section5-container{
        background: $white2;
        height: 40%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 60px;
        @media screen and (max-width: 800px) {
            width:90%;
            height: 65%;
            margin-bottom: 170px;
            display:inline block;
           padding: 0;
           

        }
    
        
        p {font-size: 0.9rem;
            text-align: center;
            line-height: 30px;
            margin-bottom: 30px;
        }
        h1{
            font-weight: 100;
        }
        h2 {
            font-family: $FP;
            font-size: 1rem;

        }

    }
}
